
.prefooter {
    height: 48pt;
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    box-shadow: 0pt -1pt 8pt rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    z-index: 1;
}

.prefooter:hover {
    box-shadow: 0pt -3pt 8pt rgba(0, 0, 0, 0.4);
}

.footer {

    //margin: 48pt 0 0 0;
    padding: 10pt;
    background-color: #111111;
    color: #ffffff;

    .footer_content {

        max-width: 720pt;
        margin: auto;
        display: flex;

        .footer_column {
            min-width: 240pt;
            width: 30%;
        }

    }

}
