@import "../../../vars.scss";

.prefooter {
    height: 48pt;
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    box-shadow: $shadow;
    transition: $transition-time;
    z-index: 1;
}

.prefooter:hover {
    box-shadow: $shadow-hover;
}

.footer {

    //margin: 48pt 0 0 0;
    padding: 16pt;
    background-color: $color-dark;
    color: $color-light;

    .footer_content {

        max-width: 720pt;
        margin: auto;
        display: flex;

        .footer_column {
            min-width: 240pt;
            width: 30%;
        }

    }

}
