@import "../../../vars.scss";


// TODO Make the header have a frosted glass background when it is available in Firefox
// See https://developer.mozilla.org/en-US/docs/Web/CSS/backdrop-filter 
// and https://bugzilla.mozilla.org/show_bug.cgi?id=1178765
.header {

    min-height: 48pt;
    width: 100%;
    position: fixed;
    flex-wrap: wrap;
    flex-direction: row;

    background-color: $color-light;
    box-shadow: $shadow;
    transition: $transition-time;

    .header_content {

        width: 100%;
        height: 100%;

        display: flex;

        img {
            max-height: 100%;
        }

        .header_logo {
            height: 48pt;
        }

        .header_items {

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: calc(100% - 192pt - 120pt);
            //min-width: 360pt;

            .header_item {
    
                margin: auto;
                height: 48pt;
                width: 33%; // 23.486%; // Magic number for having 3 items in the header and filling the space
                min-width: 120pt;
    
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                text-align: center;
    
                background-color: $color-light;
                outline: none;
                border: none;
    
                transition: $transition-time;
    
                a {
                    text-decoration: none;
                    color: inherit;
                }
    
            }

            .header_item:hover {
                background-color: $hover-color-dark;
                color: $color-light;
            }

        }

        .header_socialicons {

            align-self: end;
            margin: 0 0 0 0;
            height: 48pt;

            display: flex;
            flex-direction: row;

            background-color: $color-dark;

            .header_socialicon {

                width: 48pt;
                height: 100%;

                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;

                transition: $transition-time;

                img {
                    margin: 0 auto;
                    width: 24pt;
                }

            }

            .header_socialicon:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }

        }

    }

}

.header:hover {
    box-shadow: $shadow-hover;
}
