
<div class="header" id="header">
  
  <div class="header_content">

    <img src="https://content.justinschaaf.com/common/logos/js-fullname.svg" class="header_logo">

    <button class="header_item">
      <a routerLink="/home"><h3>Home</h3></a>
    </button>

    <!--There aren't enough projects for a dedicated page-->
    <!--<div class="header_item">
      <a routerLink="/projects"><h3>Projects</h3></a>
    </div>-->

    <button class="header_item">
      <a target="_blank" rel="noopener noreferrer" href="https://pinetree.dev"><h3>Pinetree</h3></a>
    </button>

    <button class="header_item">
      <a target="_blank" rel="noopener noreferrer" href="https://yamltobot.com"><h3>YamlToBot</h3></a>
    </button>

    <div class="header_socialicons">

      <div class="header_socialicon">
        <a target="_blank" rel="noopener noreferrer" href="https://liberapay.com/justinhschaaf/"><img src="assets/socialicons/liberapay.svg"></a>
      </div>

      <div class="header_socialicon">
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/justinhschaaf/"><img src="assets/socialicons/github.svg"></a>
      </div>

      <div class="header_socialicon">
        <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/justinhschaaf/"><img src="assets/socialicons/twitter.svg"></a>
      </div>

      <div class="header_socialicon">
        <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCNw2pX6yLUuq9J0dYmsn6mA"><img src="assets/socialicons/youtube.svg"></a>
      </div>

    </div>

  </div>

</div>
