.banner_home {
    background-image: url('/assets/images/home/home_banner.jpg');
    height: calc(100vh - 48pt);
}

h1 {
    span {
        font-family: 'Major Mono Display', 'Segoe UI Emoji', monospace;
    }
}
