@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Overpass+Mono:wght@700&display=swap');

* {
	margin: 0;
	font-family: 'Overpass Mono', 'Segoe UI Emoji', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Major Mono Display', 'Segoe UI Emoji', monospace;
}

a {
	color: #777777;
}

img {
	width: 100%;
}
