<div class="project_container">

  <div class="card hoverable">

    <div class="card-start">

      <h2>YamlToBot</h2>

      <div class="project_img">
        <img src="https://content.yamltobot.com/common/logos/logo.svg">
      </div>

    </div>

    <div class="card-content">

      <p>
        YamlToBot is an application that allows you to quickly and easily
        develop self-hosted chatbots for Discord and Twitch, with support
        for more platforms coming in the near future. With YamlToBot, all
        it takes is a few simple steps to deploy your own chat bot.
      </p>

    </div>

    <br>

    <div class="card-end">
      <a target="_blank" rel="noopener noreferrer" href="https://yamltobot.com"><h4>I ❤️ YAML & Chat Bots!</h4></a>
    </div>

  </div>

  <!--<div class="card">

    <h2>Pinetree Mail</h2>

    <div class="project_img">
      <img src="https://content.justinschaaf.com/pinetree/logos/pt-mail.svg">
    </div>

    <p>
      Pinetree Mail is an indev email app designed to provide
      a consistant user experience between mobile and desktop operating
      systems. Not only can you check emails from all of your accounts
      in one place, but it is also designed with customization in mind.
    </p>

    <br>
    
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/PinetreeDev/PinetreeMail"><h4>Emails sound fun!</h4></a>

  </div>-->

  <div class="card hoverable">

    <div class="card-start">

      <h2>Stylesheet</h2>
  
      <div class="project_img">
        <img src="https://content.justinschaaf.com/common/logos/js-stylesheet.svg">
      </div>

    </div>
    
    <div class="card-content">

      <p>
        This is a place where I've compiled a collection of creative
        colors in 10 different shades. It also includes colors from
        some of my other current and past projects. It has now grown
        to include 300 individual colors and has a swatch generator
        for your color needs.
      </p>

    </div>

    <br>
    
    <div class="card-end">
      <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4>COLORS!</h4></a>
    </div>

  </div>

</div>
