.project_container {

    display: flex;
    flex-wrap: wrap;
    padding: 16pt 0;
    max-width: 720pt;
    margin: auto;

    .card {

        //margin: 75pt auto 0; // This was for the standalone projects page, but it can't be disabled on the home page through scss

        //height: 400pt; // As long as the paragraph's size is the same, this shouldn't be necessary

        .project_img {

            margin: auto;
            padding: 5pt;
            height: 180pt;
            display: flex; 
            justify-content: center;

        }

        img {
            max-height: 180pt;
            max-width: 180pt;
            margin: auto;
        }

    }

}
