/* You can add global styles to this file, and also import other style files */

// Import fonts
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Overpass');

* {
    margin: 0;
    font-family: 'Overpass', 'Segoe UI Emoji', sans-serif;
    flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Major Mono Display', 'Segoe UI Emoji', monospace;
}

a {
    text-decoration: underline;
    color: #888888;
}

.header {

    min-height: 50pt;
    width: 100%;
    position: fixed;
    flex-wrap: nowrap;

    background-color: #ffffff;
    box-shadow: 0pt 3pt 8pt rgba(0, 0, 0, 0.2);

    .header_content {

        width: 100%;
        height: 100%;

        display: flex;

        img {
            max-height: 100%;
        }

        .header_item {

            margin: auto;

            a {
                text-decoration: none;
                color: inherit;
                transition: 0.3s;
            }

            a:hover {
                text-shadow: 0pt 3pt 8pt rgba(0, 0, 0, 0.2);
            }

        }

    }

    .header_logo {
        height: 50pt;
    }

}

.footer {

    margin: 48pt 0 0 0;
    padding: 10pt;
    background-color: #111111;
    color: #ffffff;

    .footer_content {

        max-width: 720pt;
        margin: auto;
        display: flex;

        .footer_column {
            min-width: 240pt;
            width: 30%;
        }

    }

}

.banner {

    width: 100%;
    height: 360pt;
    text-align: center;
    display: flex; 
    justify-content: center;

    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-attachment: local;

    color: #FFFFFF;

    .banner_content {

        margin: auto;
        padding: 25pt;

    }

}

.content {
    max-width: 720pt;
    margin: auto;
    padding: 24pt;
}

.card {

    margin: auto;
    padding: 20pt;
    max-width: 30%;
    min-width: 200pt;

    background-color: #ffffff;
    box-shadow: 0pt 3pt 8pt rgba(0, 0, 0, 0.2);

    transition: 0.3s;

    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }

}

.card:hover {
    box-shadow: 0pt 5pt 8pt rgba(0, 0, 0, 0.4);
}