/* You can add global styles to this file, and also import other style files */

@import "./vars.scss";

// Import fonts
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Overpass');

/*
.theme_dark {

    $color-bg: #111111;
    $color-fg: #ffffff;
    $shadow-light: 0pt 3pt 8pt rgba(255, 255, 255, 0.2);
    $shadow-dark: 0pt 5pt 8pt rgba(255, 255, 255, 0.4);

    a {
        text-decoration: underline;
        color: #888888;
    }

    background-color: $color-bg;

    p, h1, h2, h3, h4, h5, h6 {
        color: $color-fg;
    }

    body {
        background-color: $color-bg;
    }

    .header {

        box-shadow: $shadow-light;

        .header_content {
            background-color: $color-bg;
        }

        .header_item {

            a:hover {
                text-shadow: $shadow-light;
            }

        }

    }

    .footer {

        box-shadow: 0pt -3pt 8pt rgba(255, 255, 255, 0.2);

    }

    .card {
        background-color: $color-bg;
        color: $color-fg;
        box-shadow: $shadow-light;
    }

    .card:hover {
        box-shadow: $shadow-dark;
    }

}
*/

.hoverable {
    transition: $transition-time;
}

.hoverable:hover {

    animation-name: hover;
    animation-duration: $transition-time;

    transform: translateY(-20pt);
    padding: 25pt;
    box-shadow: $shadow-hover;

}

// References used to learn how to do these animations:
// http://www.inwebson.com/css3/nifty-hover-effects-with-css3-animations/
// https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations 
@keyframes hover {

    from {
        transform: translateY(0pt);
        padding: 20pt;
        box-shadow: $shadow;
    }
  
    to {
        transform: translateY(-20pt);
        padding: 25pt;
        box-shadow: $shadow-hover;
    }

}

* {
    margin: 0;
    font-family: 'Overpass', 'Segoe UI Emoji', sans-serif;
    flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Major Mono Display', 'Segoe UI Emoji', monospace;
}

a {
    text-decoration: underline;
    color: $color-medium;
}

.banner {

    width: 100%;
    height: 360pt;
    text-align: center;
    display: flex; 
    justify-content: center;
    overflow: hidden;

    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-attachment: local;

    color: $color-light;
    transition: $transition-time;

    .banner_content {

        margin: auto;
        padding: 24pt;

    }

}

// Frosted Glass when hover -- maybe for another day... =,(
/*
.banner:hover::before {
    width: 2000pt;
    height: 460pt;
    content: "";
    //position: absolute;
    top: -100pt;
    left: 100pt;
    bottom: 0;
    right: 0;
    background: inherit;
    box-shadow: inset 0 0 0 2000pt rgba(255,255,255,0.2);
    filter: blur(25px);
}
*/

.content {
    max-width: 720pt;
    margin: 24pt auto 48pt auto;
    padding: 24pt;
}

.card {

    margin: auto;
    padding: 20pt;
    max-width: 30%;
    min-width: 200pt;
    height: 380pt;

    background-color: $color-light;
    box-shadow: $shadow;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex-wrap: nowrap;

    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }

    .card-start {
        justify-self: flex-start;
        margin: 0 auto auto auto;
    }

    .card-content {
        justify-self: center;
        text-align: left;
        margin: auto;
    }

    .card-end {
        justify-self: flex-end;
        margin: auto auto 0 auto;
    }

}
