
$color-light: #ffffff;
$color-medium: #888888;
$color-dark: #111111;

$shadow: 0pt 3pt 8pt rgba(0, 0, 0, 0.2);
$shadow-hover: 0pt 6pt 16pt rgba(0, 0, 0, 0.2);

$transition-time: 0.25s;

$hover-color-dark: rgba(0, 0, 0, 0.1);
