<div class="banner banner_home">
  <div class="banner_content">
    <h1>I don't know what to put here...</h1> <!--also "I like Java..."-->
  </div>
</div>

<div class="content">

  <h1>A Little About Me...</h1>

  <br>

  <p>
    My name is Justin Schaaf, and I've spent the last 4 years of my life in front of a computer.
    I started programming when I was 11 and my elementary school offered a <a href="https://code.org">code.org</a>
    programming club, in which I learned basic block programming. Ever since, I've loved to code.
  </p>

  <br>

  <p>
    I taught myself Java when I was in 6th grade, as I made <a href="https://minecraft.net">Minecraft</a>
    mods in my free time. In 7th grade, I took a Computer Explorations class, in which I learned
    how to create projects in <a href="https://scratch.mit.edu">Scratch</a>. I also began attending
    <a href="https://mycodecentral.com">Code Central</a>, where I properly learned JavaScript and HTML.
    Also at Code Central, I experimented in <a href="https://www.yoyogames.com/">GameMaker Studio</a>,
    <a href="https://angular.io">Angular</a> (which this website is built in), and 
    <a href="https://ionicframework.com">Ionic</a>, the latter two I have grown to love.
  </p>

  <br>

  <p>
    Now, I'm developing crazier and crazier projects. I've made <a href="https://yamltobot.com">a program
    that locally runs a chat bot based on a config file</a>, <a href="https://colors.justinschaaf.com">
    a website exclusively filled with colors</a>, and <a href="https://github.com/justinhschaaf?tab=repositories">
    more insane projects to come</a>.
  </p>

  <br>

  <h1>Current Projects</h1>

  <jhs-projects></jhs-projects>

</div>